body {
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: "Roboto", sans-serif; */
  margin: 0 auto;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  /* font-size: 3rem; */
  margin: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: 100;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}